* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #05061e, #1533aa);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1200px;   
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 32px;
    letter-spacing: 1px;
}

.glass-card {
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(21, 21, 44, 0.751);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}


.input-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.output-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

h3 {
    color: #ffffff;
    margin-bottom: 12px;
    font-weight: bold;
    text-align: center;
}

textarea {
    padding: 15px;
    border-radius: 10px;
    border: none;
    resize: none;
    font-size: 14px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 243, 247);
}


.input-section textarea {
    height: 220px;
}


.output-section textarea {
    height: 420px;
}

textarea::placeholder {
    color: #555;
}

button {
    margin-top: 50px;
    margin-left: 85px;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: linear-gradient(135deg, #c63ad3, #2b0bcd);
    color: white;
    transition: 0.3s ease;
    width: 180px;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}